
<h1>
    <%= animalName  %> 
</h1>
<h3>
    Status: <%= animalStatus %> 
</h3>
<span class="image">
    <% if(animalImage) {%>
        <img src="<%= animalImage %> " alt="<%= animalName %> ">
    <% } else { %>
        <img src="https://2gyntc2a2i9a22ifya16a222-wpengine.netdna-ssl.com/wp-content/uploads/sites/29/2014/12/Image-Not-Available.jpg" alt="<%= animalName  %>">
    <% } %> 
    </span>
<span class="details">
    <h6>
        Age: <%= animalAge %> 
    </h6>
    <h6>
        Breed: <%= animalBreed %> 
    </h6>
    <h6>
        Gender: <%= animalGender %> 
    </h6>
    <% if (animalBabies) { %>
        <h6>Spayed or Neutered: Yes</h6>
    <% } else {%>
        <h6>Spayed or Neutered: No</h6>
    <% } %>
    <% if (animalHouseTrained) { %>
        <h6>House Trained: Yes</h6>
    <% } else {%>
        <h6>House Trained: No</h6>
    <% } %>
    <% if (animalShots) { %>
        <h6>Up To Date Shots/Vaccinations: Yes</h6>
    <% } else {%>
        <h6>Up To Date Shots/Vaccinations: No</h6>
    <% } %>
    <span>
        <h6>Contact:</h6>
        <% if (animalContact.phone) { %>
            <p>Phone Number: <%= animalContact.phone %></p>
        <% } else {%>
            <p>No Phone Number Indicated</p>
        <% } %>
        <% if (animalContact.email) { %>
            <p>Email: <%= animalContact.email %></p>
        <% } else {%>
            <p>No Email Address Indicated</p>
        <% } %>
        <% if (animalContact.address1 != null) { %>
            <p><%= animalContact.address1 %></p>
            <p><%= animalContact.city %>, <%= animalContact.state %>, <%= animalContact.postcode %>, <%= animalContact.country %> </p>
        <% } else {%>
            <p><%= animalContact.city %>, <%= animalContact.state %>, <%= animalContact.postcode %>, <%= animalContact.country %> </p>
        <% } %>
    </span>
</span>

