<a href="/auth/logout">Logout</a>
<a href="/profile">favorited pets</a>

<h1>Let's Find Some Pets In Your Area:</h1>

<% if(zipCode == undefined) { %>
    <h3>Zip Code Not Found</h3>
    <small>Check the zip code you entered and try again</small>
<% } else { %>
    <% animals.forEach(function(animal) { %>
        <div class="container">
                <h3>
                <a href="/animals/<%= animal.name %>"><%= animal.name %></a>
                </h3>
                <h5> <%= animal.age %> </h5>
                <h5> <%= animal.breeds.primary %> </h5> 
                <% if(animal.photos[0]) {%>
                    <img src="<%= animal.photos[0].medium %> " alt="<%= animal.name %> ">
                <% } else { %>
                    <p>No Image Avaliable, Check Shelter Website</p>
                <% } %> 
        <% }) %>
    </div>
    <button type="submit" class="btn btn-primary"> Add to favorites</button>
<% } %> 