<a href="/auth/logout">Logout</a>
<a href="/profile">favorited pets</a>

<h2>Let's Search For Your Next Family Member</h2>

<form method="GET" action="/animals/zipsearch">
    <label for="zipcode input">Enter Your Zip Code:</label>
    <input type="text" id="zipcode input" name="zipcode">
    <input type="Submit">
</form>

<% animals.forEach(function(animal) {%>
    <div class="container">
        <% if(animal.attributes.special_needs == true) { %>
            <h3>
                <a href="/animals/<%= animal.id %>"><%= animal.name %></a>
            </h3>
            <h5> <%= animal.age %> </h5>
            <!-- <h5> <%= //animal.breeds.primary %> </h5>  -->
            <% if(animal.photos[0]) {%>
                <img src="<%= animal.photos[0].medium %> " alt="<%= animal.name %> ">
            <% } else { %>
                <p>No Image Avaliable, Check Organization Website</p>
            <% } %> 
        <% } %>
    </div>
    <form method="POST" action="/profile/addFave">
        <input hidden type="text" name="name" value= "<%= animal.name %>">
        <input hidden type="text" name="status" value= "<%= animal.status %>">
        <input hidden type="text" name="age" value= "<%= animal.age %>">
        <input hidden type="text" name="image" value= "<%= animal.image %>">
        <!-- <input hidden type="text" name="breed" value= "<%= //animal.breeds.primary %>"> -->
        <input hidden type="text" name="gender" value= "<%= animal.gender %>">
        <input hidden type="text" name="id" value= "<%= animal.id %>">
        <input hidden type="text" name="descrption" value= "<%= animal.description%>">
        <button type="submit" class="btn btn-primary"> Add to favorites</button>
    </form>
<% }) %>