<h1>
    <%= animal.name  %> 
</h1>
<h3>
    Status: <%= animal.status %> 
</h3>
<div class="image">
    <% if(animal.photos[0]) {%>
        <img src="<%= animal.photos[0].medium %> " alt="<%= animal.name %> ">
    <% } else { %>
        <img src="https://2gyntc2a2i9a22ifya16a222-wpengine.netdna-ssl.com/wp-content/uploads/sites/29/2014/12/Image-Not-Available.jpg" alt="<%= animal.name  %>">
    <% } %> 
</div>
<div class="details">
    <h6>
        Species: <%= animal.species %> 
    </h6>
    <h6>
        Age: <%= animal.age %> 
    </h6>
    <h6>
        Breed: <%= animal.breeds.primary %> 
    </h6>
    <h6>
        Gender: <%= animal.gender %> 
    </h6>
    <!-- <h6>
        Spayed or Neutered: 
        <% //if (animal.spayed_neutered == true) { %>
            <h6><%= //Yes %></h6>
       <% //} else {%>
            <h6><%= //No %></h6>
        <%// } %>
    </h6> -->
    <h6>
        Gender: <%= animal.gender %> 
    </h6>
</div>

