<a href="/auth/logout">Logout</a>
<a href="/animals">Search More Pets</a>

<h2><%= currentUser.name %>'s Favorited Pets:</h2>

<% pets.forEach(function(animal) {%>
    <div class="container">
        <h3>
            <a href="/profile/<%= animal.animalId %> "><%= animal.name %> </a>
        </h3>
        <h5> Age: <%= animal.age %> </h5>
        <% if (animal.breed != null) {%> 
        <h5> Breed: <%= animal.breed %> </h5> 
        <% } else { %> 
            <h5>Breed: Unknown Mix</h5>
        <% } %>
    </div>
    <form action="/profile/<%= animal.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-primary"> Remove from favorites</button>
    </form>
<% }) %>
